:root {
  background-color: rgb(245, 240, 230);
  max-width: 100%;
}

body {
  margin: 0;
}

.header {
  transform: translate(16px, 8px);
}

/* make the header and navbar not horizontal to each other and vertical instead*/
.header,
#navbar {
  display: block;
}

/* # is a unique id so there can't be something same as this unlike . this is only for learning purposes */
#navbar {
  margin: 0px;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #ffff;
}

#navbar a {
  margin: 4px;
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 28px;
  max-width: 400px;
}

#navbar a:hover {
  background-color: #182B49;
  color: white;
}

#navbar a.active {
  background-color: #182B49;
  color: white;
}

/* modify this default keyword that already removes the line break of each divs */
.no-break {
  width: 100%;
}

.sec1 {
  background-color: rgb(245, 240, 230);
  font-size: 16px;
}

.sec2 {
  background-size: cover;
  background-image: url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
  background-position: center;
  color: white;
  font-size: 16px;
}

.sec3 {
  background-color: rgb(245, 240, 230);
}

.sectionheader {
  padding: 16px;
}

.msg {
  font-size: 32px;
  padding: 12px;
}

.wrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  justify-items: center;
}

.grid {
  background-color: #182b49;
  color: white;
  height: 500px;
  overflow-y: auto;
  /* overflow vertical scrolling */
  width: 100%;
  padding: 10px;
  font-size: 32px;
}

/* 800px, a reasonable pixel size estimate to know it's on a mobile device */
@media (max-width: 800px) {

  /* modified img tag of */
  #navbar img {
    max-width: 75%;
    width: auto;
    height: auto;
    padding: 4px;
  }

  /* refer z-index and stacking order, this is to fix the error from modifying h1 below 
  where section text overlapped the nav bar*/
  #navbar {
    z-index: 2;
  }

  #navbar a {
    display: none;
  }

  /* changed the paragraph tag default font size */
  p {
    font-size: 20px;
  }

  /* changed h1 header tag */
  h1 {
    font-size: 24px;
    margin: 6px;
    position: relative;
    top: 12px;
  }

  .wrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    justify-items: center;
  }
}